/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.transparan {
    background-color: rgb(0, 4, 17, .8);
}


header h1 {
    color: white;
    text-align: center;
    font-size: 5.5rem;
}

header nav .menu1 {
    display: flex;
    justify-content: space-evenly;
}

header nav div a {
    color: white;
    font-size: 2.5rem;
}

.social {
    text-align: center;

}

.social i {
    color: white;
    font-size: 3.5rem;
    margin: 10px 25px;
    margin-bottom: 15px;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('/img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 2rem;
}

.menu h2 {
    font-size: 5rem;
    text-align: center;
    color: white;
}

.tummenu {
    display: flex;
    color: white;
    flex-flow: row wrap;
    margin: auto auto;
    justify-content: space-around;
}

.kucukbox {
    display: flex;
    flex-flow: row nowrap;
    margin: 1vw;
    width: 30vw;
}

.altbaslik {
    font-size: 4rem;
    margin-left: 1vw;
}

.basligim {
    font-size: 3rem;

}

.altbasligim {
    font-size: 2.5rem;
} 

.altbasligim2 {
    font-size: 2rem;
    margin-top: 1vw;
} 

.yazilar {
    display: flex;
    flex-flow: column nowrap;
}

.fiyatim {
    font-size: 3rem;
    margin-left: auto;
}

.menualtbaslik {
    display: flex;
    flex-flow: column nowrap;
    margin: 3vw;
}



/* footer section */
footer {
    width: 100%;
    height: auto;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    border-top: 0.1rem solid gray;
}

footer .haklar {
    text-align: end;
    color: white;
    font-size: 1.7rem;
    padding-right: 10rem;
    padding-bottom: 0.5rem;
}

footer nav {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    padding-top: 2rem;
    color: white;
}

footer nav p {
    font-size: 3rem;
    color: white;
}

footer nav a {
    font-size: 2.5rem;
    color: white;
}

footer input {
    width: 25%;
    padding: 5px;
    font-size: 2rem;
    color: gray;
    margin-left: 1%;
    margin-right: 0px;
}

footer button {
    width: 8%;
    margin-left: 0px;
    color: black;
    font-size: 2rem;
    padding: 5px;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    /* menu */
    .menu {
        background-image: none;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }
}
